@import "tailwindcss";
@plugin "daisyui";

/* Custom Theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #403F3F;
  --color-secondary: #706F6F;
  --color-base-200: #D72050;
  --color-base-300: #e7e7e7;
  --color-accent: #f3f3f3;
}

/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}

a.active{
  @apply bg-accent
}